@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #2E4570; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #DFC07A66; }
