@custom-variant dark (&:is(.dark *));
:root {
  --font-size: 16px;
  --background: #172153;
  --foreground: #EBE4D0;
  --card: #273B60;
  --card-foreground: #EBE4D0;
  --border: #2E4570;
  --ring: #DFC07A;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --radius: 0.625rem;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-size: var(--font-size);
  }
}
